{{ if .IsHome }}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org/", 
          "@type": "Book", 
          "name": "{{ .Site.Title }}",
          "image": "{{ "img/DonghuaBatch.webp" | absURL }}",
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.5",
            "bestRating": "5",
            "worstRating": "1",
            "ratingCount": "4500"
          }
        }
    </script>
{{ else if eq .Layout "postingan-donghua" }}
    {{/*  Rating  */}}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org/", 
          "@type": "Book", 
          "name": "{{ .Title }}",
          "image": "{{ .Params.image | absURL }}",
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.5",
            "bestRating": "5",
            "worstRating": "1",
            "ratingCount": "4500"
          }
        }
    </script>
    {{/*  Article  */}}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ .Title }}",
        "datePublished": "{{ .Date.Format "2006-01-02" }}",
        "author": {
          "@type": "Person",
          "name": "{{ .Site.Params.author }}"
        }
      }
      </script>      
{{ end }}