{{ define "main" }}
    <div class="bg-slate-300 my-4 p-4 mx-auto w-full h-[750px] max-w-screen-xl">
        <h1 class="font-bold text-2xl text-center">{{ .Title }}</h1>
        <form class="flex mt-32 justify-center items-center flex-col gap-4" action="https://formspree.io/f/xregejlg" method="POST" netlify>
            <label class="flex flex-col gap-2 text-center w-full max-w-96">
              Email
              <input required placeholder="example@example.com" class="bg-white p-4 focus:shadow-md focus:shadow-black focus:scale-103 transition duration-300" type="email" name="email">
            </label>
            <label class="flex flex-col gap-2 text-center w-full max-w-96">
              Pesan
              <textarea required placeholder="Masukkan Pesan" class="bg-white p-4 focus:shadow-md focus:shadow-black focus:scale-103 transition duration-300" name="message"></textarea>
            </label>
            <!-- your other form fields go here -->
            <button class="bg-slate-400 cursor-pointer w-full max-w-32 rounded-lg p-2 hover:bg-slate-500" type="submit">Send</button>
        </form>
    </div>
{{ end }}