{{ define "main" }}
    {{ partial "alert" . }}
    {{ partial "widget/ads-728x90" . }}
    <div class="my-4 mx-auto max-w-screen-xl">
        <main class="flex gap-4 flex-col lg:flex-row">
            {{/*  Main Content  */}}
            <div style="flex-basis: 900px;">
                <div class="w-full">
                    <div class="bg-slate-300 p-4">
                        <span class="flex items-center gap-1 text-sm"><i class="fa-solid fa-user"></i>Posted by <strong>{{ .Site.Params.author }}</strong><i class="fa-solid fa-circle-check text-green-500"></i></span>
                        <hr class="mt-4">
                        <h1 class="text-2xl mt-4"><strong>{{ .Title }}</strong></h1>
                        <img title="{{ .Title }}" class="mt-4 h-[300px] w-[200px] mx-auto" src='{{ .Params.image | relURL }}' alt="{{ .Params.alt }}">
                    </div>
                    <div class="bg-slate-300 mt-4 p-4">
                        {{- $rating := .Params.rating | default 0 -}}
                        {{- $stars := div (mul $rating 5) 10 -}}

                        <div class="flex items-center mb-2 flex-wrap">
                            <strong class="mr-2">Rating: {{ $rating }}</strong>
                            <div class="bg-slate-400 p-1 rounded-lg flex-wrap flex items-center">
                                {{ range seq 5 }}
                                    {{ if le . $stars }}
                                        <i class="fa-solid fa-star" style="color: gold;"></i>
                                    {{ else }}
                                        <i class="fa-regular fa-star"></i>
                                    {{ end }}
                                {{ end }}
                            </div>
                        </div>
                        <p><strong>Sinopsis:</strong> {{ .Params.sinopsis }}</p>
                        <div class="mt-8 flex gap-2 flex-wrap flex-row">
                            {{ range .Params.genre }}
                                <a class="bg-slate-400 hover:bg-slate-500 font-bold w-max p-2 rounded-lg" href='{{ "genre/" | relLangURL }}{{ . | urlize }}'>{{ . | title }}</a>
                            {{ end }}
                        </div>
                        <div class="overflow-x-auto w-full mx-auto max-w-max select-none">
                            <table class="mt-8 p-4 mx-auto bg-blue-300">
                                <thead>
                                    <tr>
                                        <th class="border border-black p-4"><span class="flex items-center justify-center gap-2"><i class="fa-solid fa-video"></i>Studio</span></th>
                                        <th class="border border-black p-4"><span class="flex items-center justify-center gap-2"><i class="fa-solid fa-flag"></i>Season</span></th>
                                        <th class="border border-black p-4"><span class="flex items-center justify-center gap-2"><i class="fa-solid fa-clock"></i>Durasi</span></th>
                                        <th class="border border-black p-4"><span class="flex items-center justify-center gap-2"><i class="fa-solid fa-film"></i>Episode</span></th>
                                        <th class="border border-black p-4"><span class="flex items-center justify-center gap-2"><i class="fa-solid fa-fire"></i>Release</span></th>
                                        <th class="border border-black p-4"><span class="flex items-center justify-center gap-2"><i class="fa-solid fa-bookmark"></i>Type</span></th>
                                        <th class="border border-black p-4"><span class="flex items-center justify-center gap-2"><i class="fa-solid fa-chart-simple"></i>Status</span></th>
                                        <th class="border border-black p-4"><span class="flex w-max items-center justify-center gap-2"><i class="fa-solid fa-user"></i>Sub By</span></th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td class="border border-black p-2">{{ with .Params.studio }}{{ delimit . ", " | title }}{{ end }}</td>
                                        <td class="border border-black p-2">{{ .Params.season }}</td>
                                        <td class="border border-black p-2">{{ .Params.durasi }}</td>
                                        <td class="border border-black p-2">{{ .Params.episode }}</td>
                                        <td class="border border-black p-2">{{ .Params.release }}</td>
                                        <td class="border border-black p-2">{{ .Params.type }}</td>
                                        <td class="border border-black p-2">{{ .Params.status }}</td>
                                        <td class="border border-black p-2">{{ .Params.sub }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="mt-4">
                            Tidak ingin download Batch? Streaming Saja 
                            <i class="fa-solid fa-arrow-right fa-fade mx-2"></i> 
                            <a class="font-bold hover:text-sky-300" href="{{ .Params.LinkStreaming }}" target="_blank" rel="noopener noreferrer">
                                {{ .Params.Streaming }}
                            </a>
                        </p>                        
                        {{ partial "download-batch" . }}
                    </div>
                    {{ partial "share-donghua" . }}
                    {{ partial "widget/ads-native" . }}
                    {{ partial "disqus" . }}
                    {{ partial "donghua-terbaru" . }}
                </div>
            </div>
            {{/*  Sidebar  */}}
            {{ partial "sidebar" . }}
            {{/*  Akhir Sidebar  */}}
        </main>
    </div>
{{ end }}