{{ define "main" }}
<div class="bg-slate-300 bgg5 flex flex-col w-full h-[750px] mx-auto max-w-screen-xl p-4 my-4">
    <h1 class="font-bold text-2xl text-center">{{ .Title }}</h1>
    <div class="w-full max-w-lg mx-auto my-auto">
        <div class="relative">
            <input class="w-full p-2 px-4 mb-4 rounded-lg focus:outline-sky-300 focus:shadow-md focus:shadow-sky-300" type="text" id="search-input" placeholder="Cari..."/>
            <i class="fa-solid fa-search absolute right-4 bottom-1/2"></i>
        </div>
        <ul class="h-[400px] overflow-y-auto" id="search-results"></ul>
        <style>
            #search-results li a {
                display: block;
                width: 100%;
                height: 100%;
                background-color: #94a3b8;
                padding: 8px;
                margin: 5px 0;
                border-radius: 8px;
            }
            #search-results li a:hover {
                background-color: whitesmoke;
            }
        </style>
    </div>
</div>
{{ end }}