<div class="mx-4">
    <div class="p-4 bg-blue-300 select-none rounded-lg w-full max-w-screen-xl mx-auto mt-4">
        <div class="w-full max-w-xl mx-auto text-center flex flex-col gap-2">
            <span>Support kami dengan share website kami ke teman-teman kalian agar website kami berkembang menyajikan batch donghua terlengkap untukmu, terima kasih.</span>
            <hr>
            <span>Bagi kamu yang ingin memberikan masukan atau saran, bisa hubungi kami atau komentar di bawah.</span>
            <img width="150" height="300" class="mx-auto bg-transparent" src="/img/support-me.gif" alt="Huo Ling'er">
        </div>
    </div>
</div>