<div class="p-4 bg-blue-300 select-none rounded-lg w-full max-w-screen-xl mx-auto mt-4">
    <div class="flex flex-col gap-2">
        <span><strong class="flex items-center justify-center gap-1"><ion-icon class="w-5 h-5" name="information-circle-outline"></ion-icon>Pengumuman</strong></span>
        <span class="text-center">Website kami sedang dalam tahap pengembangan, untuk itu mohon dukungannya agar website kami bisa berkembang menyajikan batch donghua terlengkap untukmu.</span>
        <span class="text-center"><strong>NOTE</strong></span>
        <span class="text-center">Bagi kamu yang ingin memberikan saran dan masukan silahkan berkomentar di bawah, atau hubungi kami. Terima Kasih.</span>
    </div>
</div>