<div class="w-full max-w-screen-xl mx-auto px-3 lg:px-0">
    <div class="w-full select-none p-6 rounded-t-2xl bg-[#0F172A]/90 border-t border-cyan-500/40 shadow-[0_-5px_25px_rgba(34,211,238,0.15)] text-slate-300 backdrop-blur-md">
        <div class="flex justify-center text-center items-center gap-2 flex-col">
            <span>&copy;{{ time.Now.Year }} <span class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-cyan-400 via-sky-300 to-purple-400 drop-shadow-[0_0_8px_rgba(34,211,238,0.5)]">DonghuaBatch</span> - All Rights Reserved</span>
            <i class="fa-solid fa-microchip fa-spin-pulse my-3 text-2xl text-cyan-400 drop-shadow-[0_0_10px_rgba(34,211,238,0.8)]"></i>
            <div class="text-sm flex text-center flex-wrap justify-center items-center gap-2 font-semibold text-slate-400">
                <a class="hover:underline text-slate-300 hover:text-cyan-400 transition duration-300 drop-shadow-[0_0_5px_rgba(34,211,238,0.3)]" href='{{ relURL "about" }}'>About Web</a>
                <i class="fa-solid fa-code-commit text-purple-500"></i>
                <a class="hover:underline text-slate-300 hover:text-cyan-400 transition duration-300 drop-shadow-[0_0_5px_rgba(34,211,238,0.3)]" href='{{ relURL "privacy-policy" }}'>Privacy Policy</a>
                <i class="fa-solid fa-code-commit text-purple-500"></i>
                <a class="hover:underline text-slate-300 hover:text-cyan-400 transition duration-300 drop-shadow-[0_0_5px_rgba(34,211,238,0.3)]" href='{{ relURL "terms-of-conditions" }}'>Term of Conditions</a>
            </div>
        </div>
    </div>
</div>