<div class="w-full max-w-screen-xl mx-auto px-2 mt-16 lg:px-0">
    <header class="w-full p-4 rounded-2xl bg-[#0F172A]/80 border border-cyan-500/40 shadow-[0_0_30px_rgba(34,211,238,0.25)] backdrop-blur-md relative overflow-hidden">
        <img title="{{ .Title }}" class="mx-auto object-cover rounded-xl relative z-10 drop-shadow-[0_0_20px_rgba(34,211,238,0.4)] transition-transform duration-500" width="720" height="384" fetchpriority="high" src='{{ relURL "img/DonghuaBatch.webp"}}' alt="{{ .Title }}">
    </header>
</div>