{{ with resources.Get "css/main.css" }}
    {{ $minified := . | minify }}
    <link rel="stylesheet" href="{{ $minified.RelPermalink }}">
{{ end }}
<link rel="shortcut icon" href='{{ relURL "img/favicon.ico"}}' type="image/x-icon">
<link rel="canonical" href="{{ .Permalink }}">
<link crossorigin="anonymous" rel="prefetch" href="https://unpkg.com">
<link rel="dns-prefetch" href="https://google.com">
{{- with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}