<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if .IsHome }}
    <meta name="description" content="{{ .Site.Params.deskripsi }}">
    <meta name="keywords" content="{{ .Site.Params.keywords }}">
    <meta name="robots" content="index, follow">
{{ else if eq .Layout "postingan-donghua" }}
    <meta name="description" content="{{ .Params.deskripsi }}">
    <meta name="keywords" content='{{ with .Params.keywords }}{{ delimit . " " }}{{ end }}'>
    <meta name="robots" content="index, follow">
{{ else }}
    <meta name="robots" content="noindex, follow">
{{ end }}