{{/*  Navbar PC  */}}
<nav class="bg-sky-300 shadow shadow-black sticky top-0 z-50 w-full font-bold md:flex hidden items-center flex-wrap justify-between mx-auto max-w-screen-xl">
    <menu class="flex mx-auto items-center w-auto">
        <a class="hover:bg-sky-400 flex items-center gap-1 text-md p-4" href="{{ .Site.BaseURL }}"><i class="fa-solid fa-house"></i>Beranda</a>
        <div class="relative">
            <button id="tombolGenre" class="hover:bg-sky-400 cursor-pointer flex items-center gap-1 text-md p-4">
                <i id="folder" class="fa-solid fa-folder"></i>
                <span>Genre</span>
                <i class="transition duration-300 fa-solid fa-chevron-down" id="arrowGenre" name="chevron-down"></i>
                <div id="menuGenre" style="top: 56px;right: 0;left: 0;" class="absolute hidden shadow p-4 shadow-black h-80 overflow-y-auto w-80 bg-sky-300">
                    {{ range $name, $taxonomy := .Site.Taxonomies.genre }}
                        <a href='{{ "genre/" | relLangURL }}{{ $name | urlize }}' class="px-2 py-1 flex justify-start hover:bg-sky-400">{{ $name | title }}</a>
                    {{ end }}
                </div>
            </button>
            <script>
                const tombolGenre = document.getElementById('tombolGenre');
                const menuGenre = document.getElementById('menuGenre');
                const arrowGenre = document.getElementById('arrowGenre');
                const folder = document.getElementById('folder')

                // Toggle menu saat tombol diklik
                tombolGenre.addEventListener('click', (event) => {
                    menuGenre.classList.toggle('hidden');
                    arrowGenre.classList.toggle('rotate-180');
                    folder.classList.toggle('fa-folder-open')
                    event.stopPropagation(); // Hindari trigger event dari document
                });

                // Sembunyikan menu saat klik di luar elemen
                document.addEventListener('click', (event) => {
                    if (!menuGenre.contains(event.target) && !tombolGenre.contains(event.target)) {
                        menuGenre.classList.add('hidden');
                        arrowGenre.classList.remove('rotate-180');
                        folder.classList.remove('fa-folder-open')
                    }
                });
            </script>
        </div>
        <a class="hover:bg-sky-400 flex items-center gap-1 text-md p-4" href="https://saweria.co/sha24"><i class="fa-solid fa-leaf"></i>Support</a>
        <a class="hover:bg-sky-400 flex items-center gap-1 text-md p-4" href='{{ relURL "kontak" }}'><i class="fa-solid fa-phone"></i>Kontak</a>
        <a class="hover:bg-sky-400 flex items-center gap-1 text-md p-4" href='{{ relURL "search" }}'><i class="fa-solid fa-magnifying-glass"></i>Cari</a>
    </menu>
</nav>

{{/*  Navbar Mobile  */}}
<nav class="bg-sky-300 z-50 px-4 shadow-black shadow-md rounded-full fixed max-w-72 w-full left-2 right-2 bottom-4 font-bold md:hidden flex-row flex gap-1 items-center flex-wrap justify-between mx-auto">
    {{/*  Home Menu  */}}
    <a class="flex flex-col h-full w-10 items-center" href="{{ .Site.BaseURL }}">
        <i class="fa-solid fa-house text-2xl"></i>
        <span class="text-xs">Beranda</span>
    </a>
    {{/*  Cari Menu  */}}
    <div id="tombol-cari-mobile">
        <a class="flex items-center w-10 h-full flex-col" href='{{ relURL "search" }}'>
            <i class="fa-solid fa-magnifying-glass text-2xl"></i>
            <span class="text-xs">Cari</span>
        </a>
    </div>
    {{/*  Image Logo  */}}
    <div class="text-2xl p-4 items-center flex">
        <img class="rounded-full" width="40" height="40" src='{{ relURL "img/favicon.webp" }}' alt="DonghuaBatch">
    </div>
    {{/*  Genre Menu  */}}
    <button id="tombolGenreMobile" class="flex relative gap-1 h-full w-10 rounded-full items-center flex-col">
        <i id="folderMobile" class="fa-solid fa-folder text-2xl"></i>
        <span class="text-xs">Genre</span>
        {{/*  DropDown Menu Genre  */}}
        <div id="menuGenreMobile" class="absolute overflow-y-auto hidden shadow-md shadow-black bg-sky-300 w-72 h-80 p-2 bottom-14 -right-16">
            <div class="grid grid-cols-2 gap-2">
            {{ range $name, $taxonomy := .Site.Taxonomies.genre }}
                <a class="font-bold p-2 text-start" href='{{ "genre/" | relLangURL }}{{ $name | urlize }}'>{{ $name | title }}</a>
            {{ end }}
            </div>
        </div>
        <script>
            const tombolGenreMobile = document.getElementById('tombolGenreMobile');
            const menuGenreMobile = document.getElementById('menuGenreMobile');
            const folderMobile = document.getElementById('folderMobile');

            if (tombolGenreMobile) {
                // Toggle menu saat tombol diklik
                tombolGenreMobile.addEventListener('click', (event) => {
                    menuGenreMobile.classList.toggle('hidden');
                    folderMobile.classList.toggle('fa-folder-open');
                    event.stopPropagation(); // Hindari trigger event dari document
                });
            
                // Sembunyikan menu saat klik di luar elemen
                document.addEventListener('click', (event) => {
                    if (!menuGenreMobile.contains(event.target) && !tombolGenreMobile.contains(event.target)) {
                        menuGenreMobile.classList.add('hidden');
                        folderMobile.classList.remove('fa-folder-open');
                    }
                });
            }
        </script>
    </button>
    {{/*  Lainnya Menu  */}}
    <div class="relative">
        <div id="tombol-menu" class="flex gap-1 rounded-full items-center flex-col">
            <i id="logo-menu" class="fa-solid transition duration-300 fa-grip-vertical text-2xl"></i>
            <button class="text-xs">Lainnya</button>
        </div>
        {{/*  DropUp Menu  */}}
        <div id="daftar-menu" class="absolute rounded-lg hidden bg-sky-300 px-4 bottom-14 right-0 left-auto py-2 shadow-md shadow-black">
            <a class="flex items-center mb-4 flex-col w-[150px]" href="https://saweria.co/sha24">
                <i class="fa-solid fa-leaf text-2xl"></i>
                <span class="text-xs">Support</span>
            </a>
            <a class="flex items-center mt-4 flex-col w-[150px]" href='{{ absURL "kontak" }}'>
                <i class="fa-solid fa-phone text-2xl"></i>
                <span class="text-xs">Kontak</span>
            </a>
        </div>
    </div>
</nav>

{{/*  Script Mobile  */}}
<script>
    const tombolMenu = document.getElementById('tombol-menu');
    const daftarMenu = document.getElementById('daftar-menu');
    const logoMenu = document.getElementById('logo-menu');

    if (tombolMenu) {
        // Toggle menu saat tombol diklik
        tombolMenu.addEventListener('click', (event) => {
            daftarMenu.classList.toggle('hidden');
            logoMenu.classList.toggle('rotate-90');
            event.stopPropagation(); // Hindari trigger event dari document
        });
    
        // Sembunyikan menu saat klik di luar elemen
        document.addEventListener('click', (event) => {
            if (!daftarMenu.contains(event.target) && !tombolMenu.contains(event.target)) {
                daftarMenu.classList.add('hidden');
                logoMenu.classList.remove('rotate-90');
            }
        });
    }
</script>