<div id="noticeAds" class="fixed right-1/2 translate-x-1/2 w-full max-w-2xl top-[90px] bg-yellow-500 text-center p-2 rounded-lg flex flex-row flex-nowrap items-center gap-2 shadow-lg">
    <span>Kami menggunakan Shorlink Ads untuk mendanai server kami, mohon menonaktifkan AdBlock untuk membantu kami.</span>
    <button onclick="noticeAds()" class="bg-black text-white w-full max-w-max mx-auto p-1 rounded-lg font-bold active:outline">Tutup</button>
</div>
<script>
    function noticeAds() {
        document.getElementById("noticeAds").style.display = "none";
        }
</script>