{{/* Data aman untuk disimpan secara lokal ketika halaman detail donghua dibuka. */}}
{{ $thumb := .Params.thumbnail | default .Params.image | default "" }}
<div
  id="recently-viewed-current"
  hidden
  data-id="{{ .Params.permalink | default .Permalink }}"
  data-title="{{ .Title }}"
  data-url="{{ .Permalink }}"
  data-thumbnail="{{ $thumb }}"
  data-type="{{ .Params.type | default "Donghua" }}"
  data-episode="{{ .Params.episode | default "" }}"
  data-status="{{ .Params.status | default "" }}"
  data-rating="{{ .Params.rating | default "" }}"
></div>
