<div class="{{ if (or .Params.linkSeasonSebelumnya .Params.linkSeasonSelanjutnya) }} mt-4 {{ end }} flex flex-col flex-wrap gap-4">
    <table class="w-auto mx-auto table table-fixed bg-blue-300">
        <thead>
            <tr>
                {{ if .Params.linkSeasonSebelumnya }}
                    <th class="border border-black p-2">
                        <div class="flex flex-col gap-2 items-center">
                            <span>Season Sebelumnya</span>
                            <i class="fa-solid fa-circle-left"></i>
                        </div>
                    </th>
                {{ end}}
                {{ if .Params.linkSeasonSelanjutnya }}
                    <th class="border border-black p-2">
                        <div class="flex flex-col gap-2 items-center">
                            <span>Season Selanjutnya</span>
                            <i class="fa-solid fa-circle-right"></i>
                        </div>
                    </th>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            <tr>
                {{ if .Params.linkSeasonSebelumnya }}
                    <td class="border border-black p-2"><a class="text-blue-600 hover:text-blue-800" href="{{ .Params.linkSeasonSebelumnya | relURL }}">{{ .Params.judulSeasonSebelumnya }}</a></td>
                {{ end }}
                {{ if .Params.linkSeasonSelanjutnya }}
                    <td class="border border-black p-2"><a class="text-blue-600 hover:text-blue-800" href="{{ .Params.linkSeasonSelanjutnya | relURL }}">{{ .Params.judulSeasonSelanjutnya }}</a></td>
                {{ end }}
            </tr>
        </tbody>
    </table>
</div>