<div class="{{ if (or .Params.linkSeasonSebelumnya .Params.linkSeasonSelanjutnya) }} mt-3 {{ end }} flex flex-col flex-wrap gap-4">
    <table class="w-full max-w-xl mx-auto table table-fixed overflow-hidden panel-neon">
        <thead>
            <tr class="bg-gradient-to-r from-cyan-600/30 via-purple-600/30 to-pink-600/30 text-cyan-300 font-extrabold border-b border-cyan-500/40">
                {{ if .Params.linkSeasonSebelumnya }}
                    <th class="p-3.5 border-r border-cyan-500/30">
                        <div class="flex flex-col gap-1.5 items-center">
                            <span>Season Sebelumnya</span>
                            <i class="fa-solid fa-circle-left text-cyan-400 text-lg"></i>
                        </div>
                    </th>
                {{ end}}
                {{ if .Params.linkSeasonSelanjutnya }}
                    <th class="p-3.5">
                        <div class="flex flex-col gap-1.5 items-center">
                            <span>Season Selanjutnya</span>
                            <i class="fa-solid fa-circle-right text-pink-400 text-lg"></i>
                        </div>
                    </th>
                {{ end }}
            </tr>
        </thead>
        <tbody class="text-center font-medium">
            <tr>
                {{ if .Params.linkSeasonSebelumnya }}
                    <td class="p-4 border-r border-cyan-500/30 bg-[#060816]/60"><a class="site-link-glow block font-bold text-cyan-400" href="{{ .Params.linkSeasonSebelumnya | relURL }}">{{ .Params.judulSeasonSebelumnya }}</a></td>
                {{ end }}
                {{ if .Params.linkSeasonSelanjutnya }}
                    <td class="p-4 bg-[#060816]/60"><a class="site-link-glow site-link-glow--pink block font-bold text-pink-400" href="{{ .Params.linkSeasonSelanjutnya | relURL }}">{{ .Params.judulSeasonSelanjutnya }}</a></td>
                {{ end }}
            </tr>
        </tbody>
    </table>
</div>