<div class="bg-slate-300 mt-4 p-4">
    <span class="text-xl flex justify-center items-center"><strong>Share Donghua</strong></span>
    <div class="share-buttons flex gap-2 justify-center items-center mt-8">
        <a title="Share on WhatsApp" href="https://api.whatsapp.com/send?text={{ .Title }}%20{{ .Permalink }}" target="_blank" rel="noopener noreferrer">
            <ion-icon class="text-green-600 p-2 hover:bg-white rounded-full" size="large" name="logo-whatsapp"></ion-icon>
        </a>
        <a title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer">
            <ion-icon class="text-blue-400 p-2 hover:bg-white rounded-full" size="large" name="logo-facebook"></ion-icon>
        </a>
        <a title="Share on Twitter" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" target="_blank" rel="noopener noreferrer">
            <ion-icon class="text-blue-500 p-2 hover:bg-white rounded-full" size="large" name="logo-twitter"></ion-icon>
        </a>
        <a title="Share on Telegram" href="https://t.me/share/url?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener noreferrer">
            <ion-icon class="text-sky-500 p-2 hover:bg-white rounded-full" size="large" name="paper-plane"></ion-icon>
        </a>
        <a title="Share on Instagram" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <ion-icon class="text-purple-800 p-2 hover:bg-white rounded-full" size="large" name="logo-instagram"></ion-icon>
        </a>
    </div>
</div>