{{ if .IsHome }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ site.Params.img | absURL }}">
{{ else if eq .Layout "postingan-donghua" }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ .Params.thumbnail | absURL }}">
{{ end }}

{{- with or .Title site.Title site.Params.title | plainify }}
    <meta name="twitter:title" content="{{ . }}">
{{- end }}

{{ if .IsHome }}
    <meta name="twitter:description" content="{{ site.Params.deskripsi }}">
{{ else if eq .Layout "postingan-donghua" }}
     <meta name="twitter:description" content="{{ .Params.deskripsi }}">
{{ end }}