{{ define "main" }}
<div id="redirect404" class="my-4 h-[768px] flex items-center flex-col gap-2 justify-center w-full bg-slate-300 p-4 mx-auto max-w-screen-xl">
    <h1 class="text-xl text-center font-bold">Halaman Yang Kamu Cari Tidak Ditemukan</h1>
    <a class="bg-blue-300 hover:bg-blue-400 p-2 rounded-lg" href="{{ .Site.BaseURL }}">Kembali Ke Beranda</a>
    <p>Redirect otomatis ke halaman beranda setelah <span id="detik"></span> detik...</p>
</div>
<script>
    // Redirect otomatis
    setTimeout(() => {
        window.location.href = "{{ .Site.BaseURL }}";
        }, 5000);
    //Tampilan detik
    let detik = 5;
    const interval = setInterval(() => {
        document.getElementById('detik').textContent = detik;
        detik--;
        if (detik === 0) {
            clearInterval(interval);
            }
            }, 1000);
</script>
{{ end }}