{{ define "main" }}
    {{ partial "alert" . }}
    <div class="my-4 mx-auto max-w-screen-xl">
        <main class="flex gap-4 flex-col lg:flex-row">
            {{/*  Main Content  */}}
            <div class="bg-slate-300" style="flex-basis: 900px;">
                <div class="flex flex-wrap flex-col">
                    <div class="grid-cols-2 grid p-4 justify-items-center grid-rows-1 md:grid-cols-4 gap-2 w-full">
                        {{ $pages := where .Site.RegularPages "Layout" "postingan-donghua" }}
                        {{ $paginator := .Paginate $pages.ByDate.Reverse 16 }}
                        {{ range $paginator.Pages }}
                        <div class="group bg-slate-400 p-2">
                            <a title="{{ .Title }}" href="{{ .Permalink }}" class="flex gap-1 rounded-lg h-full group-hover:bg-slate-300 flex-col w-full">
                                <img class="group-hover:scale-[1.01] h-[300px] w-[200px] rounded-lg transition duration-300 object-cover" src='{{ .Params.thumbnail | relURL }}' alt="{{ .Params.alt }}">
                                <span class="w-full font-bold max-w-44 mx-auto mt-2 text-center">{{ .Title }}</span>
                            </a>
                        </div>
                        {{ end }}
                    </div>
                {{/*  Pagination  */}}
                {{ template "_internal/pagination.html" (dict "page" . "format" "terse") }}
                <style>
                    .pagination {
                        display: flex;
                        gap: 16px;
                        background-color: #90a1b9;
                        padding: 16px;
                        width: 100%;
                        max-width: max-content;
                        margin: 0 auto;
                        margin-bottom: 16px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 16px;
                        flex-direction: row;
                    }
                    .page-item {
                        background-color: #cad5e2;
                        padding: 8px;
                        width: 100%;
                        border-radius: 999px;
                        text-align: center;
                    }
                    .page-item.active {
                        background-color: aliceblue;
                    }
                </style>
                </div>
            </div>
            {{/*  Sidebar  */}}
            {{ partial "sidebar" . }}
            {{/*  Akhir Sidebar  */}}
        </main>
    </div>
{{ end }}